<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Motivational Posters</title>
  </head>
  <body>
    <header>
    <h1>Motivational Posters</h1>
    </header>
    <section id="select-image">
      <h2>Step 1. Select an image</h2>
      <p>Enter the keyword to search for images</p>
      <form id="search-form">
    <input id="search-term" type="text">
    <input type="submit" value="Go!">
  </form>
  <div id="search-results"></div>
  <div id="google-branding"></div>
    </section>
    </body>
    </html>
